<h2>Welcome to pizza shop!</h2>

<div class="row">
	<% @product.each do |p| %>
		<div class="col-md-3">
			<%= p.title %>
		</div>
	<% end %>
</div>

<button class="btn btn-primary" onclick="something()">Click me!!</button>


